
.wrapper{
    color: rgb(77, 6, 6);
    width: 60%;
    margin: 0 auto;
    font-size: 5px solid #ddd;
    border: 5px solid black;
    padding: 50px 50px 50px 50px;
}
    label{
    font-size: 30px;  
}
    .first_name, .last_name, .email, .password {
    height: 25px;
    padding: 10px;
    font-size: 18px;
}
.heading-01{
    border: 10px double red;
    width: 600px;
    padding: 50px 60px 70px 80px;
    margin: 60px 50px 40px 300px;
}
.heading-02{
    border: 8px dotted green;
    width: 500px;
    padding: 50px 40px 60px 50px;
    margin: 60px 50px 40px 300px;
}  
table{
    width: 100%;
    border: 1px solid rgb(15, 15, 16);
}
th,td{
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(15, 15, 16);
} 
td:hover{
    background-color: black;
    color: rgb(245, 6, 6);
}
